<nav class="global-header">
    <a class="global-header-link" href="https://lawson-m.github.io/">
        <img src="{{ site.baseurl }}/assets/images/tinylogo.webp" class="tinylogo"> </img>
    </a>
    <a href="{{ site.baseurl }}/index.html" class="global-header-link">Blog</a>
    <a href="https://lawson-M.github.io/About.html" class="global-header-link">About</a>
    <a href="https://lawson-M.github.io/Resume.html" class="global-header-link">Resume</a>
    <a href="https://lawson-M.github.io/index.html#all-projects" class="global-header-link">All Projects</a>
    <a href="https://github.com/Lawson-M" class="global-header-link">Github</a>
</nav>
