<!doctype html>
    <head>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/global.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/posts.css">

        <title>{{page.title}}</title>
    </head>
    <body>
        {% include nav.html %}
        <h1 class = "title-header">{{page.title}}</h1>
        <div class="main-content">
            <img class = "post-image" src="{{ site.baseurl }}{{page.image}}"/>
            {{content}}
        </div>
    </body>
</html>